<%- partial('_partial/head') %>

<body>
  <header id="header"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
  <% if (page.layout === 'post'){ %>
    <div class="social">
      <%- partial('_partial/social', { page: page }) %>
    </div class="social">
  <% } %>
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar', {}, {cache: true}) %></aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
</body>
</html>

