<article class="<%= item.layout %>">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
      <% if (item.layout != 'page'){ %>
        <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
      <% } %>
    </header>
    <div class="entry">
      <%- item.content %>
    </div>
    <footer>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <%- partial('post/share') %>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>